In [1]:
import boto3
import pandas as pd

# Get the service resource.
dynamodb = boto3.resource('dynamodb')

# Instantiate a table resource object without actually
# creating a DynamoDB table. Note that the attributes of this table
# are lazy-loaded: a request is not made nor are the attribute
# values populated until the attributes
# on the table resource are accessed or its load() method is called.
table = dynamodb.Table('affidavitdata')

In [2]:

# Read the csv file
df2022 = pd.read_csv('../../Data/up/2022/uttar-pradesh_2022_candidates_MASTER.csv',dtype=str)
df2017 = pd.read_csv('../../Data/up/2017/uttar-pradesh_2017_candidates_MASTER.csv',dtype=str)
df2012 = pd.read_csv('../../Data/up/2012/uttar-pradesh_2012_candidates_MASTER.csv',dtype=str)
df2007 = pd.read_csv('../../Data/up/2007/uttar-pradesh_2007_candidates_MASTER.csv',dtype=str)
#Data\up\2017\uttar-pradesh_2017_candidates_MASTER.csv
#Data\up\2012\uttar-pradesh_2012_candidates_MASTER.csv
#Data\up\2007\uttar-pradesh_2007_candidates_MASTER.csv
# First 5 row()s
df = pd.concat([df2022,df2017,df2012,df2007])

print('::::::::::Count Stats::::::::::::::::::::')
print(df2007.shape)
print(df2012.shape)
print(df2017.shape)
print(df2022.shape)

print(df.shape)
print('::::::::::::::combined::::::::::::::::')
df.info()

::::::::::Count Stats::::::::::::::::::::
(3189, 31)
(6590, 31)
(4823, 31)
(2449, 31)
(17051, 31)
::::::::::::::combined::::::::::::::::
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17051 entries, 0 to 3188
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    17051 non-null  object
 1   year                     17051 non-null  object
 2   constituency             17051 non-null  object
 3   ac_no                    14602 non-null  object
 4   district                 17051 non-null  object
 5   sub_region               11413 non-null  object
 6   reservations             14602 non-null  object
 7   candidate_name           17051 non-null  object
 8   party                    17051 non-null  object
 9   party_eci                14602 non-null  object
 10  url                      17051 non-null  object
 11  winner                   17051 non-null  object
 12  gender                   17051 non-null  object
 13  age                      16907 non-null  object
 14  so_do                    17044 non-null  object
 15  address                  14592 non-null  object
 16  profession               12911 non-null  object
 17  spouse_profession        10353 non-null  object
 18  criminal_cases           17051 non-null  object
 19  serious_criminal_cases   17051 non-null  object
 20  education                17051 non-null  object
 21  assets                   17051 non-null  object
 22  liabilities              17051 non-null  object
 23  net_assets               17051 non-null  object
 24  filed_itr                13862 non-null  object
 25  declared_pan             17051 non-null  object
 26  recontest_url            751 non-null    object
 27  recontest_assets_this    751 non-null    object
 28  recontest_assets_last    751 non-null    object
 29  recontest_assets_change  751 non-null    object
 30  recontest_remarks        394 non-null    object
dtypes: object(31)
memory usage: 4.2+ MB

In [3]:
df.columns

Index(['state', 'year', 'constituency', 'ac_no', 'district', 'sub_region',
       'reservations', 'candidate_name', 'party', 'party_eci', 'url', 'winner',
       'gender', 'age', 'so_do', 'address', 'profession', 'spouse_profession',
       'criminal_cases', 'serious_criminal_cases', 'education', 'assets',
       'liabilities', 'net_assets', 'filed_itr', 'declared_pan',
       'recontest_url', 'recontest_assets_this', 'recontest_assets_last',
       'recontest_assets_change', 'recontest_remarks'],
      dtype='object')

In [16]:
df['CandidateID'] = df['url']
#df['CandidateID'] = df['CandidateID'].str.replace("http://myneta.info/Uttarpradesh2022/candidate.php?candidate_id=","", regex=True)
#df['CandidateID'] = df['url'].str.replace('http://myneta.info/Uttarpradesh2022/candidate.php?candidate_id=','')
print(df['url'][0])
print(len(df['CandidateID']))
df["CandidateID"] = df["CandidateID"].apply(lambda x: x.replace("http://myneta.info/Uttarpradesh2022/candidate.php?candidate_id=", ""))
print(len(df['CandidateID']))
df["CandidateID"] = df["CandidateID"].apply(lambda x: x.replace("http://myneta.info/uttarpradesh2017/candidate.php?candidate_id=", ""))
print(len(df['CandidateID']))

df["CandidateID"] = df["CandidateID"].apply(lambda x: x.replace("http://myneta.info/up2012/candidate.php?candidate_id=", ""))
print(len(df['CandidateID']))

df["CandidateID"] = df["CandidateID"].apply(lambda x: x.replace("http://myneta.info/up2007/candidate.php?candidate_id=", ""))

print(len(df['CandidateID']))

0    http://myneta.info/Uttarpradesh2022/candidate....
0    http://myneta.info/uttarpradesh2017/candidate....
0    http://myneta.info/up2012/candidate.php?candid...
0    http://myneta.info/up2007/candidate.php?candid...
Name: url, dtype: object
17051
17051
17051
17051
17051

In [17]:
df['id_year'] = df["year"]+'_UP_'+df["CandidateID"]
print(len(df['id_year']))

17051

In [18]:
# Print out some data about the table.
# This will cause a request to be made to DynamoDB and its attribute
# values will be set based on the response.
print(table.creation_date_time)

#table.put_item(
#   Item={
##        'id_year': 'janedoe',
 #       'first_name': 'Jane',
 #       'last_name': 'Doe',
 #       'age': 25,
 #       'account_type': 'standard_user',
 #   }
#)

2022-04-10 00:10:41.759000+05:30

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17051 entries, 0 to 3188
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    17051 non-null  object
 1   year                     17051 non-null  object
 2   constituency             17051 non-null  object
 3   ac_no                    14602 non-null  object
 4   district                 17051 non-null  object
 5   sub_region               11413 non-null  object
 6   reservations             14602 non-null  object
 7   candidate_name           17051 non-null  object
 8   party                    17051 non-null  object
 9   party_eci                14602 non-null  object
 10  url                      17051 non-null  object
 11  winner                   17051 non-null  object
 12  gender                   17051 non-null  object
 13  age                      16907 non-null  object
 14  so_do                    17044 non-null  object
 15  address                  14592 non-null  object
 16  profession               12911 non-null  object
 17  spouse_profession        10353 non-null  object
 18  criminal_cases           17051 non-null  object
 19  serious_criminal_cases   17051 non-null  object
 20  education                17051 non-null  object
 21  assets                   17051 non-null  object
 22  liabilities              17051 non-null  object
 23  net_assets               17051 non-null  object
 24  filed_itr                13862 non-null  object
 25  declared_pan             17051 non-null  object
 26  recontest_url            751 non-null    object
 27  recontest_assets_this    751 non-null    object
 28  recontest_assets_last    751 non-null    object
 29  recontest_assets_change  751 non-null    object
 30  recontest_remarks        394 non-null    object
 31  CandidateID              17051 non-null  object
 32  id_year                  17051 non-null  object
dtypes: object(33)
memory usage: 4.9+ MB

In [34]:
df=df.dropna(axis=1,how='all')


df['age']= df['age'].fillna('NOT_AVAILABLE')
df['so_do']= df['so_do'].fillna('NOT_AVAILABLE')
df['address']= df['address'].fillna('NOT_AVAILABLE')
df['ac_no']= df['ac_no'].fillna('NOT_AVAILABLE')
df['sub_region']= df['sub_region'].fillna('NOT_AVAILABLE')
df['reservations']= df['reservations'].fillna('NOT_AVAILABLE')
df['party_eci']= df['party_eci'].fillna('NOT_AVAILABLE')
df['profession']= df['profession'].fillna('NOT_AVAILABLE')
df['spouse_profession']= df['spouse_profession'].fillna('NOT_AVAILABLE')
df['recontest_url']= df['recontest_url'].fillna('NOT_AVAILABLE')
df['filed_itr']= df['filed_itr'].fillna('NOT_AVAILABLE')
df['recontest_assets_this']= df['recontest_assets_this'].fillna('NOT_AVAILABLE')

df['recontest_assets_last']= df['recontest_assets_last'].fillna('NOT_AVAILABLE')

df['recontest_assets_change']= df['recontest_assets_change'].fillna('NOT_AVAILABLE')

df['recontest_remarks']= df['recontest_remarks'].fillna('NOT_AVAILABLE')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17051 entries, 0 to 3188
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    17051 non-null  object
 1   year                     17051 non-null  object
 2   constituency             17051 non-null  object
 3   ac_no                    17051 non-null  object
 4   district                 17051 non-null  object
 5   sub_region               17051 non-null  object
 6   reservations             17051 non-null  object
 7   candidate_name           17051 non-null  object
 8   party                    17051 non-null  object
 9   party_eci                17051 non-null  object
 10  url                      17051 non-null  object
 11  winner                   17051 non-null  object
 12  gender                   17051 non-null  object
 13  age                      17051 non-null  object
 14  so_do                    17051 non-null  object
 15  address                  17051 non-null  object
 16  profession               17051 non-null  object
 17  spouse_profession        17051 non-null  object
 18  criminal_cases           17051 non-null  object
 19  serious_criminal_cases   17051 non-null  object
 20  education                17051 non-null  object
 21  assets                   17051 non-null  object
 22  liabilities              17051 non-null  object
 23  net_assets               17051 non-null  object
 24  filed_itr                17051 non-null  object
 25  declared_pan             17051 non-null  object
 26  recontest_url            17051 non-null  object
 27  recontest_assets_this    17051 non-null  object
 28  recontest_assets_last    17051 non-null  object
 29  recontest_assets_change  17051 non-null  object
 30  recontest_remarks        17051 non-null  object
 31  CandidateID              17051 non-null  object
 32  id_year                  17051 non-null  object
dtypes: object(33)
memory usage: 4.9+ MB

In [ ]:
items = df.to_dict(orient = 'records')

with table.batch_writer() as batch:
    for r in items:
        batch.put_item(Item=r)

In [ ]:
import json
from decimal import Decimal
item = json.loads(json.dumps(item), parse_float=Decimal)