In [1]:
import boto3
import pandas as pd

# Get the service resource.
dynamodb = boto3.resource('dynamodb')

# Instantiate a table resource object without actually
# creating a DynamoDB table. Note that the attributes of this table
# are lazy-loaded: a request is not made nor are the attribute
# values populated until the attributes
# on the table resource are accessed or its load() method is called.
table = dynamodb.Table('affidavitdata')

In [22]:

# Read the csv file
#df = pd.read_csv('../../Data/up/2022/uttar-pradesh_2022_candidates_MASTER.csv',dtype=str)
#df = pd.read_csv('../../Data/up/2017/uttar-pradesh_2017_candidates_MASTER.csv',dtype=str)
#df = pd.read_csv('../../Data/up/2012/uttar-pradesh_2012_candidates_MASTER.csv',dtype=str)
df = pd.read_csv('../../Data/up/2007/uttar-pradesh_2007_candidates_MASTER.csv',dtype=str)
#Data\up\2017\uttar-pradesh_2017_candidates_MASTER.csv
#Data\up\2012\uttar-pradesh_2012_candidates_MASTER.csv
#Data\up\2007\uttar-pradesh_2007_candidates_MASTER.csv
# First 5 rows
df.head()

,state,year,constituency,ac_no,district,sub_region,reservations,candidate_name,party,party_eci,...,assets,liabilities,net_assets,filed_itr,declared_pan,recontest_url,recontest_assets_this,recontest_assets_last,recontest_assets_change,recontest_remarks
0,Uttar Pradesh,2007,Balrampur,140,Balrampur,NaN,GEN,A KADIR,NLHP,National Lokhind Party,...,745578,0,745578,NaN,false,NaN,NaN,NaN,NaN,NaN
1,Uttar Pradesh,2007,Behta,58,Sitapur,NaN,GEN,A. HAYEE,IND,Independent,...,1360000,0,1360000,NaN,false,NaN,NaN,NaN,NaN,NaN
2,Uttar Pradesh,2007,Varanasi North,227,Varanasi,NaN,GEN,HAJI ABDUL SAMAD ANSARI,SP,Samajwadi Party,...,5027606,0,5027606,NaN,true,NaN,NaN,NaN,NaN,NaN
3,Uttar Pradesh,2007,Balrampur,140,Balrampur,NaN,GEN,A. MANNAN,IJP,Indian Justice Party,...,6489202,238955,6250247,NaN,true,NaN,NaN,NaN,NaN,NaN
4,Uttar Pradesh,2007,Amroha,9,Jyotiba Pholey Nagar,NaN,GEN,AADIL PERVEZ,BSP,Bahujan Samaj Party,...,31892984,1218025,30674959,NaN,true,NaN,NaN,NaN,NaN,NaN

In [23]:
df.columns

Index(['state', 'year', 'constituency', 'ac_no', 'district', 'sub_region',
       'reservations', 'candidate_name', 'party', 'party_eci', 'url', 'winner',
       'gender', 'age', 'so_do', 'address', 'profession', 'spouse_profession',
       'criminal_cases', 'serious_criminal_cases', 'education', 'assets',
       'liabilities', 'net_assets', 'filed_itr', 'declared_pan',
       'recontest_url', 'recontest_assets_this', 'recontest_assets_last',
       'recontest_assets_change', 'recontest_remarks'],
      dtype='object')

In [24]:
df['CandidateID'] = df['url']
#df['CandidateID'] = df['CandidateID'].str.replace("http://myneta.info/Uttarpradesh2022/candidate.php?candidate_id=","", regex=True)
#df['CandidateID'] = df['url'].str.replace('http://myneta.info/Uttarpradesh2022/candidate.php?candidate_id=','')
print(df['url'][0])

#df["CandidateID"] = df["CandidateID"].apply(lambda x: x.replace("http://myneta.info/Uttarpradesh2022/candidate.php?candidate_id=", ""))
#df["CandidateID"] = df["CandidateID"].apply(lambda x: x.replace("http://myneta.info/uttarpradesh2017/candidate.php?candidate_id=", ""))
#df["CandidateID"] = df["CandidateID"].apply(lambda x: x.replace("http://myneta.info/up2012/candidate.php?candidate_id=", ""))
df["CandidateID"] = df["CandidateID"].apply(lambda x: x.replace("http://myneta.info/up2007/candidate.php?candidate_id=", ""))

df["CandidateID"]

http://myneta.info/up2007/candidate.php?candidate_id=2263

0       2263
1       2456
2        447
3       2266
4       1324
        ...
3184    1912
3185    2354
3186     701
3187    2565
3188    1404
Name: CandidateID, Length: 3189, dtype: object

In [25]:
df['id_year'] = '2007_UP_'+df["CandidateID"]
df['id_year']

0       2007_UP_2263
1       2007_UP_2456
2        2007_UP_447
3       2007_UP_2266
4       2007_UP_1324
            ...
3184    2007_UP_1912
3185    2007_UP_2354
3186     2007_UP_701
3187    2007_UP_2565
3188    2007_UP_1404
Name: id_year, Length: 3189, dtype: object

In [26]:
# Print out some data about the table.
# This will cause a request to be made to DynamoDB and its attribute
# values will be set based on the response.
print(table.creation_date_time)

#table.put_item(
#   Item={
##        'id_year': 'janedoe',
 #       'first_name': 'Jane',
 #       'last_name': 'Doe',
 #       'age': 25,
 #       'account_type': 'standard_user',
 #   }
#)

2022-04-10 00:10:41.759000+05:30

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3189 entries, 0 to 3188
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3189 non-null   object
 1   year                    3189 non-null   object
 2   constituency            3189 non-null   object
 3   ac_no                   3189 non-null   object
 4   district                3189 non-null   object
 5   reservations            3189 non-null   object
 6   candidate_name          3189 non-null   object
 7   party                   3189 non-null   object
 8   party_eci               3189 non-null   object
 9   url                     3189 non-null   object
 10  winner                  3189 non-null   object
 11  gender                  3189 non-null   object
 12  age                     3151 non-null   object
 13  so_do                   3185 non-null   object
 14  address                 3187 non-null   object
 15  criminal_cases          3189 non-null   object
 16  serious_criminal_cases  3189 non-null   object
 17  education               3189 non-null   object
 18  assets                  3189 non-null   object
 19  liabilities             3189 non-null   object
 20  net_assets              3189 non-null   object
 21  declared_pan            3189 non-null   object
 22  CandidateID             3189 non-null   object
 23  id_year                 3189 non-null   object
dtypes: object(24)
memory usage: 598.1+ KB

In [30]:
df=df.dropna(axis=1,how='all')


df['age']= df['age'].fillna('NOT_AVAILABLE')
df['so_do']= df['so_do'].fillna('NOT_AVAILABLE')
df['address']= df['address'].fillna('NOT_AVAILABLE')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3189 entries, 0 to 3188
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3189 non-null   object
 1   year                    3189 non-null   object
 2   constituency            3189 non-null   object
 3   ac_no                   3189 non-null   object
 4   district                3189 non-null   object
 5   reservations            3189 non-null   object
 6   candidate_name          3189 non-null   object
 7   party                   3189 non-null   object
 8   party_eci               3189 non-null   object
 9   url                     3189 non-null   object
 10  winner                  3189 non-null   object
 11  gender                  3189 non-null   object
 12  age                     3189 non-null   object
 13  so_do                   3189 non-null   object
 14  address                 3189 non-null   object
 15  criminal_cases          3189 non-null   object
 16  serious_criminal_cases  3189 non-null   object
 17  education               3189 non-null   object
 18  assets                  3189 non-null   object
 19  liabilities             3189 non-null   object
 20  net_assets              3189 non-null   object
 21  declared_pan            3189 non-null   object
 22  CandidateID             3189 non-null   object
 23  id_year                 3189 non-null   object
dtypes: object(24)
memory usage: 598.1+ KB

In [31]:
items = df.to_dict(orient = 'records')

with table.batch_writer() as batch:
    for r in items:
        batch.put_item(Item=r)

In [ ]:
import json
from decimal import Decimal
item = json.loads(json.dumps(item), parse_float=Decimal)